<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>
  <div class="container-fluid">
    <%=render "shared/navbar"%>
    <% if @users.count == 0 %>
      <%= link_to "Get Data from API", users_api_data_path%>
    <%end%>
    <%=render "shared/table_user"%>
    <%=render "shared/paginate"%>
  </div>
</body>
</html>